/* 我们要设计的两个页面的头部和底部都相同，所以可以统一写一个样式 */


/* 快捷导航模块 */

.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    font-size: 12px;
    line-height: 30px;
}

.shortcut .left {
    float: left;
}

.shortcut .right {
    float: right;
}

.shortcut li {
    float: left;
}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.lnr-chevron-down {
    padding-right: 15px;
    color: #666666;
    font-size: 8px;
    padding: 0 5px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
}

.right li:last-child a {
    padding-right: 0;
    border-right: none;
}


/* 头部样式设计 */

header {
    position: relative;
    height: 105px;
}

header img {
    display: inline-block;
    margin: 23px 0;
}

header .search {
    position: absolute;
    left: 350px;
    top: 25px;
    width: 535px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #b1191a;
}

header .search input:first-child {
    width: 453px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 900;
}

header .search input:last-child {
    position: absolute;
    right: 0;
    top: 0;
    width: 82px;
    height: 100%;
    background-color: #b1191a;
    font-size: 14px;
    color: aliceblue;
}